{% extends "base.html" %}

{% block head_title %}GrapeVyne{% endblock %}

{% block html_head_extra -%}
  <meta property="og:title" content="GrapeVyne" />
  <meta name="twitter:title" content="GrapeVyne" />

  <meta name="description" content="A space for Us by Us. Find your tribe among millions of people, express yourself, and be free." />
  <meta name="og:description" content="A space for Us by Us. Find your tribe among millions of people, express yourself, and be free." />
  <meta name="twitter:description" content="A space for Us by Us. Find your tribe among millions of people, express yourself, and be free." />

  <meta property="og:url" content="https://grapevyne.space" />
  <meta name="twitter:url" content="https://grapevyne.space" />

  <meta property="og:image" content="https://grapevyne.space/static/social-card-default-gradient.png" />
  <meta property="twitter:image" content="https://grapevyne.space/static/social-card-default-gradient.png"  />

  <!-- <meta name="twitter:site" content="@grapevyne" />
  <meta name="twitter:card" content="summary_large_image" /> -->
{%- endblock %}

{% block noscript_extra %}
<p>This is the home page.
{% endblock %}
