{% extends "base.html" %}

{% block html_head_extra -%}
  <!-- <meta name="apple-itunes-app" content="app-id=xyz.grapevyne.app, app-clip-bundle-id=xyz.grapevyne.app.AppClip, app-clip-display=card"> -->
  {%- if requestURI %}
  <meta property="og:url" content="{{ requestURI }}">
  {% endif -%}
  {%- if imgThumbUrl %}
  <meta property="og:image" content="{{ imgThumbUrl }}">
  <meta property="twitter:image" content="{{ imgThumbUrl }}">
  {%- else -%}
  <meta property="og:image" content="/static/social-card-default-gradient.png" />
  <meta property="twitter:image" content="/static/social-card-default-gradient.png"  />
  {% endif -%}
  <meta name="twitter:card" content="summary_large_image" />
  {%- if title %}
  <meta property="og:title" content="{{ title }}" />
  <meta name="twitter:title" content="{{ title }}" />
  {%- else -%}
  <meta property="og:title" content="GrapeVyne" />
  <meta name="twitter:title" content="GrapeVyne" />
  {% endif -%}
  <meta name="description" content="A space for Us by Us. Find your tribe among millions of people, express yourself, and be free." />
  <meta name="og:description" content="A space for Us by Us. Find your tribe among millions of people, express yourself, and be free." />
  <meta name="twitter:description" content="A space for Us by Us. Find your tribe among millions of people, express yourself, and be free." />
{%- endblock %}
